.weather-card {
  width: 320px;
  padding: 30px 20px;
  border-radius: 25px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Glass effect */
  background: rgba(255, 255, 255, 0.1); /* semi-transparent */
  backdrop-filter: blur(20px); /* flou plus prononcé */
  -webkit-backdrop-filter: blur(20px);

  /* Bordure nette et légère */
  border: 2px solid rgba(255, 255, 255, 0.25);

  /* Ombre douce et profonde */
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4), 0 0 15px rgba(255, 255, 255, 0.05);

  /* Hover dynamique */
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
}




.location {
  font-size: 18px;
  opacity: 0.8;
  margin-bottom: 15px;
}

.weather-icon {
  font-size: 70px;
   width: 100%;
 
  
}

.temperature {
  font-size: 48px;
  margin: 10px 0;
}

.description {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 14px;
  opacity: 0.9;
}
.humidity svg {
  font-size: 50px; /* change à la taille souhaitée */
  color: white; /* optionnel : change la couleur si tu veux */
}
.wind svg {
  font-size: 50px; /* change à la taille souhaitée */
  color: white; /* optionnel : change la couleur si tu veux */
}
